body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.camera {
  width: 300px;
  float: right;
  padding-right: 10px;
}

.player {
  width: 100%;
  box-shadow: 0 0 18px 3px black;
}
@media screen and (max-width: 780px) {
  .camera {
    width: 130px;
  }
}

.canvasRealtime {
  width: 50%;
  padding-left: 10%;
  padding-top: 20px;
 
}
.photo {
  width: 100%;
  box-shadow: 0 0 18px 3px black;
}
.take-Photo-Container {
  text-align: center;
}
.take-Photo-Container > button {
  width: 150px;
  height: 70px;
  font-size: 35px;
  border: none;
  outline: none;
  background: none;
}

.strip {
  width: 200px;
}

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 1px 0.8rem;
  box-shadow: 0 0 18px 3px black;
  background: white;
}
