body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
  }
  .container {
    width: 30px;
    height: 30px;
    background-color: blue;
  }

  .mycanvas {
    cursor: pointer;
    border: 1px solid black;
  }
  .colorAndslider {
    text-align: center;
  }