body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
  }

  .mycanvas {
    cursor: cell;
    border: 1px solid black;
  }
  .colorAndslider {
    text-align: center;
  }